
@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <div class="alert alertalert-success">
        <h2 class="display-4"> Soy la página clientes</h2>
    </div>
</div>
