
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Productos</title>
    <h1>
        CRUD productos
    </h1>
</head>
<body>
</body>
</html>
