@{
    Layout = "_Layout";
}

<div class="text-center mt-5">
    <h2>Bienvenido!</h2>
    <a href="/Acceso/Index" class="btn btn-primary btn-lg">Inicia</a>
    <a href="/Acceso/Registro" class="btn btn-secondary btn-lg">Registrate</a>
</div>
